/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FFF;
	background-color: transparent;
	border-bottom: 2px solid #FFF;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*
  -webkit-box-shadow: inset 0px 200px 80px -94px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 200px 80px -94px rgba(0,0,0,0.75);
  box-shadow: inset 0px 200px 80px -94px rgba(0,0,0,0.75);*/
}

#headerwrap h1 {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 59px;
    font-weight: bold;
}



#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 25px;
	color: #4a4a4a
}

#social i:hover {
	color: #FFF
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 175px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}

/*MY CSS CHANGES*/
.works{
  /*height: 700px;*/
  padding: 40px;  
}

.app-shot {
  height: 350px;
}

.individual-app {
  /*float: left;*/
  /*width: 50%;  */
  /*display: inline-block;*/
  text-align: center;
  /*margin: 10 0px;*/
  padding: 40px;
}

.appPrev {
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(140,138,140,1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(140,138,140,1);
  box-shadow: 1px 1px 5px 0px rgba(140,138,140,1);
  cursor: pointer;
}

.app-title {
  font-size: 26px;
  font-weight: 500;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px 0px;

}

.modal-dialog {
  width: 90%;
}

.modal-header {
  text-align: center;
}

.modal-title{
  font-size: 4vw;
}

.modal-section-title{
  font-size: 2.3vw;
  left: 45%;
}

.modal-body {
  text-align: center;
}

.tech-stack {
  text-align: center;
}
.tech-stack-description {
  text-align: left;
  margin-left: 9%;
  margin-right: 5%;
  padding: 0;
}

.features  {
  margin: 30px 0px 50px 0px;
  padding-right: 8%;
}

.features h5{
  font-size: 2.3vw;
  margin-top: 0;
}

.featurePic {
  width: 24%;
  -webkit-box-shadow: 1.5px 1.5px 5px 0px rgba(122,122,122,1);
  -moz-box-shadow: 1.5px 1.5px 5px 0px rgba(122,122,122,1);
  box-shadow: 1.5px 1.5px 5px 0px rgba(122,122,122,1);
}

.featurePic.shopvr {
  width: 35%;
}

.featurePic.drawmie {
  width: 40%;
}


.feature-description {
  float: right;
  width: 50%;
  font-size: 1.5vw;
}

.feature-description p{
  max-height: 50%;
  font-size: 1.5vw;
  text-align: left;
}

.last-feature {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 50px;
}

.navbar-collapse.collapse.in {
  background-color: rgba(0,0,0,0.5);
}

.portfolio-title {
  font-size: 50px;
}

.portfolio-div {
  margin-top: 20px;
}
.navbar-fixed-top {
  -webkit-box-shadow: inset -5px 72px 80px -54px rgba(0,0,0, 1);
-moz-box-shadow: inset -5px 72px 80px -54px rgba(0,0,0, 1);
box-shadow: inset -5px 72px 80px -54px rgba(0,0,0, 1);

background-color: rgba(0,0,0,0.1);
}

.fa { 
  font-size: 30px !important;
}

.fa:hover {
  color: #989894 !important;
}


.logo{
  margin: 10px 0px 0px 0px;
  font-size: 40px;
  font-family: sans-serif;
  line-height: 40px;
  letter-spacing: -4px;
  padding: 0 0px 0 0;
  font-weight: 200;
  color: #fff;
  /*border: white solid 1px;*/
  /*border-radius: 11px;*/
}

.logo p:nth-child(1){
  margin: 0px;
}

.logo p:nth-child(2){
  padding-left: 5px;
  margin: -10px 0px 0px 0px;
  letter-spacing: -1px;
}

.logo:hover{
  color: #b5b6b6;
}

.navItem{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

a:hover{
  text-decoration: none;
  color: #b5b6b6 !important;
}